@import './base.css';

#app {
  /* max-width: 1280px; */
}

.title {
  line-height: 30px;
  color: var(--color-primary) !important;
}

a {
  text-decoration: none;
  color: var(--color-text);
}
*{
  font-weight: 300 !important;
}
body {
  background-image: url('../assets/images/gioi-thieu-sunreal.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* Đảm bảo hình nền bao phủ toàn màn hình */
  background-position: center; /* Căn giữa hình nền */
  height: 100vh; /* Đảm bảo body chiếm toàn bộ chiều cao của viewport */
  margin: 0; /* Xóa bỏ bất kỳ khoảng trống mặc định nào */
  /* filter: blur(8px); */
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/gioi-thieu-sunreal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(70%); /* Giảm độ sáng của hình nền */
  z-index: -1; /* Đưa background xuống dưới */
}
/* 
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
